html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  background-color: #16191b;
  color: #e2e6e8;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

header {
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
}

footer {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}